body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header img {
    width: auto;
}

.meme-editor {
    border: 2px solid black;
    width: 500px;
}

.meme-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.meme-editor img {
    max-width: 100%;
}

.meme-container h1 {
    position: absolute;
    color: white;
    font-size: 5rem;
    margin: 4px 0;
    font-family: 'Impact', sans-serif;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
}

.top-text {
    top: 0;
}

.bottom-text {
    bottom: 0;
}

@media (orientation: portrait) {
    header img {
        width: 100%;
    }
    .meme-editor {
        width: 100%;
    }
}